@using ARgronom.Models.ViewModels;
@using System.Security.Claims;
@using ARgronom.Contexts;
@using ARgronom.Models;
@using System.Linq;

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Context context

@model HomeIndexViewModel

@{
    var usersCount = context.Roles.Count();
    var plantsCount = context.UserPlants.Count();
    var roleType = Role.None;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    if (userId != null)
    {
        var role = context.Roles.FirstOrDefault(x => x.UserId == userId);
        if (role != null)
        {
            roleType = role.Role;
        }
    }
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="slideshow-container" id="hero">
    <div class="slideshow" data-flex-fullscreen="true">
        <ul class="slides">
            <li>
                <img src="~/img/slideshow/slider-3.jpg" data-position-y="top" alt="Slideshow Image">
                <div class="flex-content-wrapper">
                    <div class="flex-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p class="hero-caption no-margin flex-animate" data-animate="fadeInDown">
                                        Виртуальный помощник по выращиванию растений
                                    </p>
                                    <hr class="hero-separator flex-animate" data-animate="fadeInDown"
                                        data-animate-delay="500">
                                    <h1 class="hero-heading flex-animate" data-animate="fadeInDown"
                                        data-animate-delay="650">
                                        С нашей помощью<br>вы станете профессиональным агрономом!
                                    </h1>
                                    <a href="#" class="btn btn-default flex-animate" data-animate="fadeInLeft"
                                       data-animate-delay="1000">Присоединяйтесь</a>
                                    <a href="#" class="btn btn-white btn-border flex-animate"
                                       data-animate="fadeInRight" data-animate-delay="1000">Больше информации</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/img/slideshow/slider-1.jpg" data-position-y="top" alt="Slideshow Image">
                <div class="flex-content-wrapper">
                    <div class="flex-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p class="hero-caption no-margin flex-animate" data-animate="fadeInDown">
                                        Мы поможем вам с организацией огорода и не только
                                    </p>
                                    <hr class="hero-separator flex-animate" data-animate="fadeInDown"
                                        data-animate-delay="500">
                                    <h1 class="hero-heading flex-animate" data-animate="fadeInDown"
                                        data-animate-delay="650">
                                        Присоединитесь<br>и воплотите ваши мечты в реальность
                                    </h1>
                                    <a href="#" class="btn btn-default flex-animate" data-animate="fadeInLeft"
                                       data-animate-delay="1000">Присоединяйтесь</a>
                                    <a href="#" class="btn btn-white btn-border flex-animate"
                                       data-animate="fadeInRight" data-animate-delay="1000">Больше информации</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/img/slideshow/slider-2.jpg" alt="Slideshow Image">
                <div class="flex-content-wrapper">
                    <div class="flex-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p class="hero-caption no-margin flex-animate" data-animate="fadeInDown">
                                        Мы поможем вам создаать огород мечты
                                    </p>
                                    <hr class="hero-separator flex-animate" data-animate="fadeInDown"
                                        data-animate-delay="500">
                                    <h1 class="hero-heading flex-animate" data-animate="fadeInDown"
                                        data-animate-delay="650">
                                        Проще пареной репы<br>заниматься огородом стало легко!
                                    </h1>
                                    <a href="#" class="btn btn-default flex-animate" data-animate="fadeInLeft"
                                       data-animate-delay="1000">Присоединяйтесь</a>
                                    <a href="#" class="btn btn-white btn-border flex-animate"
                                       data-animate="fadeInRight" data-animate-delay="1000">Больше информации</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<section class="section gray-bg border-section half-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="counter-box no-margin-lg no-margin-md">
                    <i class="craftico-humans_01"></i>
                    <div class="counter-content">
                        <span class="count-me number" data-to="@usersCount" data-speed="2500">@usersCount</span>
                        <h6 class="counter-title">Пользователей</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box no-margin-lg no-margin-md">
                    <i class="craftico-flower"></i>
                    <div class="counter-content">
                        <span class="count-me number" data-to="@plantsCount" data-speed="2500">@plantsCount</span>
                        <h6 class="counter-title">Выращивается грядок</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box no-margin-lg no-margin-md no-margin-sm">
                    <i class="craftico-ecology-award"></i>
                    <div class="counter-content">
                        <span class="count-me number" data-to="78" data-speed="2500">93</span>
                        <h6 class="counter-title">Пользовательские достижения</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box no-margin">
                    <i class="craftico-urban-planning"></i>
                    <div class="counter-content">
                        <span class="count-me number" data-to="128" data-speed="2500">286</span>
                        <h6 class="counter-title">Премиум-участников</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <h4 class="text-color">Добро пожаловать в <strong class="text-color">ARgronom</strong></h4>
                <p class="lead">Мы готовы передать вам наш опыт во всех аспектах садоводства и ухода за огородом</p>
            </div>
            <div class="col-lg-8 col-md-7">
                <p>
                    Научитесь всему, что связано с уходом за огородом за короткие сроки. Все, что вам нужно
                    для посадки, ухода и дизайна вашего огорода, можно найти у нас. Для любых ваших потребностей
                    мы сможем найти предложение. Также мы готовы предложить вам любую помощь по уходу за огородом.
                </p>
            </div>
            <div class="col-md-12">
                <hr class="separator">
            </div>
        </div>
    </div>
</section>

<section class="section no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title text-center no-border">
                    <h3><strong class="text-color">Работайте</strong> над своим огородом </h3>
                    <p>Используя наше приложение, вы непременно станете проессионалом <br> начиная от посадки, заканчивая сбором урожая, вы научитесь всему.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="gallery-filter text-center">
                    <li>
                        <a class="btn btn-sm btn-default" href="/Plants/Index">Все категории</a>
                    </li>
                    @foreach(var item in Model.AllCategoriesAndImages)
                    {
                      <li>
                          <a href="/Plants/Index?category=@item.Key" class="btn btn-default btn-outline btn-round"data-filter=".decoration">
                              @item.Key
                          </a>
                      </li>
                    }
                </ul>

                <ul class="gallery-container grid-md-5 grid-sm-2 grid-xs-2 no-wrap no-gutter">
                    @foreach(var item in Model.AllCategoriesAndImages)
                    {
                      <li class="decoration protection">
                          <a href="/Plants/Index?category=@item.Key">
                            <figure class="img-gallery">
                                <div class="img-content">
                                    <img src="~/products/@item.Value" alt="@item.Value">
                                    <div class="img-overlay"></div>
                                </div>
                            </figure>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title text-center">
                    <h3>Наш <strong class="text-color">Блог</strong></h3>
                    <p>
                        Следите за нашим блогом
                        <br>А также за постами наших опытных пользователей
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <article class="post-item simple-blog">
                    <div class="post-media">
                        <a href="#">
                            <img src="~/img/blog/blog-1.jpg" alt="Blog Image" />
                        </a>
                    </div>

                    <div class="post-container">
                        <div class="post-header">
                            <h5 class="post-title no-margin">
                                <a href="#">Как поддерживать здоровый сад</a>
                            </h5>

                            <ul class="post-meta">
                                <li class="author-meta">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Виталий Скороходов</a>
                                </li>
                                <li class="category-meta">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <a href="#">24 Nov 2016</a>
                                </li>
                                <li class="comment-meta">
                                    <i class="fa fa-comment" aria-hidden="true"></i> <a href="#">2</a>
                                </li>
                            </ul>
                        </div>

                        <div class="post-content">
                            <p>
                                Бороться с заболеваниями и насекомыми-вредителями всегда непросто, и часто такая война оканчивается поражением. 
                                Поэтому необходимо всегда помнить о профилактике и не допускать . . .
                            </p>

                            <a class="btn btn-sm btn-default" href="#">Прочесть</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-12">
                <article class="post-item simple-blog">
                    <div class="post-media">
                        <a href="#">
                            <img src="~/img/blog/blog-2.jpg" alt="Blog Image" />
                        </a>
                    </div>

                    <div class="post-container">
                        <div class="post-header">
                            <h5 class="post-title no-margin">
                                <a href="#">О рассаде</a>
                            </h5>

                            <ul class="post-meta">
                                <li class="author-meta">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Инесса Королева</a>
                                </li>
                                <li class="category-meta">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <a href="#">20 Nov 2016</a>
                                </li>
                                <li class="comment-meta">
                                    <i class="fa fa-comment" aria-hidden="true"></i> <a href="#">14</a>
                                </li>
                            </ul>
                        </div>

                        <div class="post-content">
                            <p>
                                Приближается время посевов овощных культур на рассаду. 
                                Но подчас у дачников, особенно у начинающих, складывается впечатление, что это слишком хлопотно . . .
                            </p>

                            <a class="btn btn-sm btn-default" href="#">Прочесть</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-12">
                <article class="post-item simple-blog">
                    <div class="post-media">
                        <a href="#">
                            <img src="~/img/blog/blog-3.jpg" alt="Blog Image" />
                        </a>
                    </div>

                    <div class="post-container">
                        <div class="post-header">
                            <h5 class="post-title no-margin">
                                <a href="#">И снова про полив</a>
                            </h5>

                            <ul class="post-meta">
                                <li class="author-meta">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Арсений Краев</a>
                                </li>
                                <li class="category-meta">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <a href="#">16 Nov 2016</a>
                                </li>
                                <li class="comment-meta">
                                    <i class="fa fa-comment" aria-hidden="true"></i> <a href="#">8</a>
                                </li>
                            </ul>
                        </div>

                        <div class="post-content">
                            <p>
                                Наиболее распространенный способ увлажнения грунта – это так называемый поверхностный полив, когда вокруг дерева по периметру проекции кроны делают лунку и выливают в нее необходимое количество воды – в среднем примерно 5-7 ведер на один квадратный метр приствольного круга. 
                                Делать это приходится в два, а то и в три захода, чтобы вода проникала к корням на глубину около 1 м, пропитывая . . . 
                            </p>

                            <a class="btn btn-sm btn-default" href="#">Прочесть</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

@if (roleType == Role.None)
{
    <section class="section cta-bottom-container content-contrast">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h2>Готов <strong>Вырастить урожай?</strong></h2>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a asp-area="Identity" class="btn btn-default btn-block" asp-page="/Account/Register">Зарегистрируйся</a>
                </div>
            </div>
        </div>
    </section>
}