@model ARgronom.Models.Plants

@{
    ViewData["Title"] = Model.Title;
}

<!-- <div id="page-header" class="content-contrast">
    <div class="page-title-container">
        <div class="background-overlay"></div>
        <div class="container centered-container">
            <div class="centered-inner-container">
                <h1 class="page-title">@Model.Title</h1>
                <hr class="separator small-separator">
                <div class="heading-caption">@Model.Description</div>
            </div>
        </div>
    </div> -->
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="#">Главная</a>
                    <a class="breadcrumb-item" href="#">Растения</a>
                    <span class="breadcrumb-item active">@Model.Category</span>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4">
                    <h3 style="font-weight: 700;">@Model.Title</h3>
                    <img class="img-radius img-shadow" src="~/products/@Model.ImageName"
                         alt="@Model.Title">
                </div>
                <div class="col-md-4">
                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-agriculture"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Где растет:</h5>
                        <p>@Model.PlaceName</p>
                    </div>

                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-natural-resources"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Тип почвы:</h5>
                        <p>@Model.SoilType</p>
                    </div>

                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-planting"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Удобрение:</h5>
                        <p>@Model.Fertilizer</p>
                    </div>

                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-spring-day"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Как часто удобрять:</h5>
                        <p>@Model.FertilizerFrequency</p>
                    </div>

                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-research_01"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Между саженцами:</h5>
                        <p>@Model.MinToNextPlant</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-growing-plant"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Между грядками:</h5>
                        <p>@Model.MinToNextGardenBed</p>
                    </div>

                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-autumn-tree"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Нужно ли подвязывать:</h5>
                        <p>@Model.NeedToTie</p>
                    </div>

                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-watering-can"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Частота полива:</h5>
                        <p>@Model.WateringFrequency</p>
                    </div>

                    <div class="content-box left small">
                        <div class="icon-shape-disable">
                            <i class="craftico-spring-day_01"></i>
                        </div>
                        <h5 style="margin-bottom: 0px !important; font-weight: 600;">Вырастает за:</h5>
                        <p>@Model.StandardGrowthTime</p>
                    </div>
                </div>
            </div>

            <hr class="separator">

            <div style="margin-bottom: 30px !important" class="heading-caption">@Model.Description</div>

            <hr class="separator">

            <div class="promo-box green full-width content-contrast no-margin-bottom">
                <div class="promo-content">
                    <h4>Добавьте это растение к себе в личный кабинет, чтобы следить за прогрессом.</h4>
                    <p>Также вы можете заказать у нас все необходимое для ухода за растениями</p>
                </div>
                <div class="promo-action">
                    <a href="/PersonalArea/AddPlant/?plantId=@Model.Id.ToString()" class="btn btn-outline white btn-radius">Посадить у себя</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <article class="post-item single-post">

                        <div class="post-comment">
                            <h4 class="comment-title">3 комментария</h4>

                            <ul class="comment-list">
                                <li>
                                    <div class="comment">
                                        <div class="author-img">
                                            <img class="img-circle" src="~/img/post-author.png" alt="image author">
                                        </div>
                                        <div class="author-comment">
                                            <a href="#" class="reply">Ответить</a>
                                            <h5 class="author">Полковников Никита</h5>
                                            <span class="date">April 28, 2010 01:23 am</span>
                                            <p>Высаживал рассаду в конце мая, не знаю у кого как созрел, 
                                                но первый урожай собрал в июле. Великолепная всхожесть по 
                                                сравнению с другими.</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="comment">
                                                <div class="author-img">
                                                    <img class="img-circle" src="~/img/post-author.png" alt="image author">
                                                </div>
                                                <div class="author-comment">
                                                    <a href="#" class="reply">Ответить</a>
                                                    <h5 class="author">Морозов Андрей</h5>
                                                    <span class="date">April 28, 2010 01:23 am</span>
                                                    <p>Стоит ли так заморачиваться с раствором коровяка при посадке, 
                                                        или можно как-то проще обойтись. Кто как высаживал в этом году? 
                                                        Да, в этом году, правда не очень у меня она растёт, земля суглинистая 
                                                        и тем более делая новые грядки, я нарушил всю структуру почвы, все овощи 
                                                        пошли отлично ! </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="author-img">
                                            <img class="img-circle" src="~/img/post-author.png" alt="image author">
                                        </div>
                                        <div class="author-comment">
                                            <a href="#" class="reply">Ответить</a>
                                            <h5 class="author">Соболь Кирилл</h5>
                                            <span class="date">28 November 2015 at 3:01 pm</span>
                                            <p>Перед посевом травим семена вместе с удобрениями biotence "Активный рост" - это хороший 
                                                стимулятор разработаный для обработки семян. Отлично стимулирует корневую и кущение.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="comment-form">
                            <h4 class="form-title">Оставить комментарий</h4>

                            <form action="#">
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label">Тема</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder=" Ваша тема">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <textarea class="form-control" rows="6" placeholder="Ваше сообщение"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">Отправить</button>
                            </form>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </div>