@using ARgronom.Models.ViewModels

@model MyDetailViewModel

@{
    var timeNow = DateTime.Now;

    var lastWateringTime = Model.UserPlant.LastWateringTime;
    var wateringEnd = lastWateringTime.AddDays(Model.Plant.WateringFrequency);

    var lastFertilizeTime = Model.UserPlant.RecentFertilizer;
    var fertilizeEnd = lastFertilizeTime.AddDays(Model.Plant.FertilizerFrequency);

    var waterPercent = timeNow > wateringEnd
        ? 0
        : (wateringEnd - timeNow) * 100 / (wateringEnd - lastWateringTime);

    var fertilizePercent = timeNow > fertilizeEnd
        ? 0
        : (fertilizeEnd - timeNow) * 100 / (fertilizeEnd - lastFertilizeTime);
}

<div id="page-header" class="content-contrast">
    <div class="page-title-container">
        <div class="background-overlay"></div>
        <div class="container centered-container">
            <div class="centered-inner-container">
                <h1 class="page-title">@Model.Plant.Title</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="/Home/Index">Главная</a>
                        <a class="breadcrumb-item" href="/PersonalArea/Index">Личный кабинет</a>
                        <span class="breadcrumb-item active">@Model.Plant.Title</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="heading-title">
                    <h3>Описание</h3>
                </div>
                <p>
                    @Model.Plant.Description
                </p>

                <form class="contact-form" method="post" action="/Ar/AddCoord/">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="hidden" name="plantId" value="@Model.UserPlant.PlantId" />
                            <div class="form-group">
                                <input type="text" name="latit" id="lat"
                                       class="form-control" placeholder="Широта"
                                       value="@Model.Marker?.Latitude">
                            </div>
                            <div class="form-group">
                                <input type="text" name="longit" id="lon"
                                       class="form-control" placeholder="Долгота"
                                       value="@Model.Marker?.Longitude">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default btn-block">Задать координаты вручную</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="promo-box green content-contrast no-margin">
                    <div class="heading-title">
                        <h5>Запустить режим дополненной реальности</h5>
                    </div>
                    <p>
                        С помощью режима дополненной реальности вы сможете обозначить геолокационные метки для
                        слежения за различными параметрами своих грядок.
                    </p>
                    <a class="btn btn-default btn-outline white" href="/Ar/Index/?plantId=@Model.Plant.Id">Включить режим просмотра</a> <br><br>
                    <a class="btn btn-default btn-outline white" id="add-coords">Установить текущие координаты</a>
                </div>
            </div>

        </div>
    </div>
</section>

@if (Model.Weather != null)
{
    <section class="section border-section">
        <div class="container">
            <partial name="~/Views/Shared/Partial/WeatherDaily.cshtml" model="@Model.Weather" />
        </div>
    </section>
}

<section class="section border-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Индикаторы запаса воды растения и удобрения</h3>
                <p>
                    Индикаторы показывают степень запаса воды в растении и эффект удобрений.
                    Если индикаторы достигают минимальной процентной отметки, то растение может
                    погибнуть.
                </p>

                @if ((int)waterPercent < 25)
                {
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <i class="fa fa-times-circle"></i> <strong>Осторожно!</strong> Посадку стоит полить
                    </div>
                }

                @if ((int)fertilizePercent < 25)
                {
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <i class="fa fa-times-circle"></i> <strong>Осторожно!</strong> Посадку стоит удобрить
                    </div>
                }

            </div>

            <div class="col-lg-3">
                <div class="me-circle-bar blue" data-percent="@((int)waterPercent)"></div>
                <p class="text-center">Запас воды</p>
                <a class="btn btn-default btn-outline text-center" href="/PersonalArea/UpdateEventTime/?plantId=@Model.UserPlant.PlantId&eventName=watering">Полить</a>
            </div>
            <div class="col-lg-3">
                <div class="me-circle-bar green" data-percent="@((int)fertilizePercent)"></div>
                <p class="text-center">Эффект удобрений</p>
                <a class="btn btn-default btn-outline text-center" href="/PersonalArea/UpdateEventTime/?plantId=@Model.UserPlant.PlantId&eventName=fertilizing">Удобрить</a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    window.onload = () =>  {
        document.querySelector("#add-coords").addEventListener("click", () => {
            navigator.geolocation.getCurrentPosition((position) => {
                window.location.replace(`/Ar/AddCoord/?latit=${position.coords.latitude}&longit=${position.coords.longitude}&plantId=@Model.UserPlant.PlantId`);
            });
        });
    }
</script>